version: "3.9"

services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=dynamodb
      - DEBUG=1
      - AWS_DEFAULT_REGION=us-east-1
    volumes:
      - ./localstack/init/ready.d:/etc/localstack/init/ready.d

  dynamodb_admin:
    image: aaronshaf/dynamodb-admin:latest
    container_name: dynamodb-admin
    depends_on:
      - localstack
    ports:
      - "8001:8001"          # Web UI
    environment:
      - DYNAMO_ENDPOINT=http://localstack:4566
      - AWS_REGION=us-east-1
      # dummy creds are fine for LocalStack
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy